.loaderContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loaderText {
   margin-left: 10px;
  font-size: 24px;
}