#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px 2rem;
  text-align: center;
}

  *,
::after,
::before {
   box-sizing: border-box
}

img {
  display: block;
}

h1,h2,h3,h4,h5,h6,p,div {
    margin: 0;
  }

ul, li {
  list-style: none;
}

